body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.welcome-container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('/assets/images/background.jpg') center/cover no-repeat; 
}

.word-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.letter-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.letter-box {
    width: 2em; 
    height: 2em; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em; 
    margin: 5px;
    border-radius: 25px; 
    color: #fff;
    animation: bounce 1.5s infinite;
}

.G { background-color: #3498db; }
.U { background-color: #27ae60; }
.E { background-color: #e74c3c; }
.S { background-color: #f39c12; }

.T { background-color: #db3469; }
.H { background-color: #5b27ae; }

.W { background-color: #9b59b6; }
.O { background-color: #34495e; }
.R { background-color: #e622ab; }
.D { background-color: #2ecc71; }

.card {
    background-color: rgb(255, 255, 255);
    padding: 2em; 
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 0 20px rgb(237, 222, 7);
    width: 70%;
    margin-top: 20px;
}


.play-button {
    margin-top: 40px;
    padding: 0.5em 0.5em; 
    font-size: 2em;
    border: none;
    width: 40%; 
    font-family: 'Roboto', sans-serif;
    font-weight: bold; 
    border-radius: 25px;
}

.play-button:hover {
    background-color: #e7ae10;
}


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

/* Responsive design */
@media (max-width: 576px) {
    .letter-box {
        width: 2em;
        height: 2em; 
        font-size: 1em; 
    }

    .play-button {
        width: 40%; 
        margin-top: 20px;
        padding: 0.5em 0.5em; 
        font-size: 1em;
    }
   
}

@media screen and (max-width: 900px) and (min-width: 300px) {
    .card {
        width: 90%; 
    }
}