@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Lilita One', sans-serif;
}

.welcome-container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../images/background.jpg') center/cover no-repeat; 
}

.word-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.letter-circles {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.letter-circle {
    width: 1.8em; 
    height: 1.8em; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em; 
    margin: 5px;
    border-radius: 15px; 
    color: #000000;
    animation: bounce 1.5s infinite;
}

.G { background-color: #DD9ACF; }
.U { background-color: #FF7AA7; }
.E { background-color: #00BDB6; }
.S { background-color: #f77976; }

.T { background-color: #FECE00; }
.H { background-color: #91BE27; }

.W { background-color: #DD9ACF; }
.O { background-color: #FF7CA8; }
.R { background-color: #F7F0D3; }
.D { background-color: #FFA300; }

.card {
    background-color: rgb(255, 255, 255);
    padding: 2em; 
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 0 20px rgb(7, 187, 237);
    width: 85%;
    margin-top: 10px;
    position: relative;
}

.how-to-play-container {
    text-align: left;
    margin-top: 10px;
    padding: 10px; 
    background-color: #fbf8cc; 
    border-radius: 25px; 
}


.how-to-play-container p {
    margin-bottom: 10px;
    position: relative;
}

.super-fun-message {
    color: #FF5025;
    font-size: 1.5em;
    text-align: center;
}

.how-to-play-container p i {
    margin-right: 10px; 
    font-weight: bold;
    font-size: 1.5em;
    color: #FF5025;
}


.play-button {
    margin-top: 15px;
    padding: 0.1em 0.1em; 
    font-size: 1.8em;
    border: none;
    width: 15%; 
    font-family: 'Lilita One', sans-serif;
    border-radius: 15px;
    background-color: #f77976;
    color: #000000;
}

.play-button:hover {
    background-color: #ffab00;
    color: #000000;
}


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

/* Responsive design */
@media (max-width: 576px) {
    .letter-circle {
        width: 2em;
        height: 2em; 
        font-size: 1.1em; 
    }
    
    .how-to-play-container p {
        font-size: 0.8em;
    }

    .super-fun-message {
        font-size: 1.1em;
    }
    .play-button {
        width: 40%; 
        margin-top: 15px;
        padding: 0.5em 0.5em; 
        font-size: 1em;
    }
   
}

@media screen and (max-width: 900px) and (min-width: 300px) {
    .card {
        width: 90%; 
    }
}

/* home page styles */

.animated-text{
    animation: bounce 1.5s infinite;
    font-family: 'Modak', system-ui;
    font-size: 3em;
    color: #FF5025;
    margin: 0;
}

.category-buttons {
    margin-top: 40px;
}

.category-button {
    margin: 10px;
    font-size: 1.5em;
    border-radius: 15px;
    font-family: 'Lilita One', sans-serif;
}

.colors { background-color: #DD9ACF; }
.shapes { background-color: #FF7CA6; }
.fruits { background-color: #00BDB6;}
.vegetables { background-color: #FECE00; }
.numbers { background-color: #92BF28; }
.weather { background-color: #FF5025; }


.category-button i {
    margin-right: 5px; 
    font-size: 1.8em;
}

.colors i {
    color: #ffbc48; 
}

.shapes i {
    color: #a0e426;
}

.fruits i {
    color: #e31212; 
}

.vegetables i {
    color: #ff5714; 
}

.numbers i {
    color: #F7F0D3; 
}

.weather i {
    color: #FFD700; 
}

.welcome-button {
    margin: 15px;
    padding: 10px;
    width: 40%;
    font-size: 1.5em;
    border-radius: 15px;
    font-family: 'Lilita One', sans-serif;
    background-color: #F7F0D3;
    
}

.welcome-button i {
    color: #00BDB6; 
    margin-right: 10px; 
    font-size: 1.5em;
}

@media (max-width: 576px) {

    .animated-text{
        font-size: 2em;
    }
    .category-button {
        font-size: 1em;
        width: 45%; 
        margin: 0 1%;
        margin-bottom: 10px; 
    }

    .welcome-button {
        width: 80%;
        font-size: 1em;
    }
}
/* guess-game --------------------------------------------------------*/
.guess-game-container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('/assets/images/background.jpg') center/cover no-repeat; 
}

.title-container h1 {
    animation: bounce 1.5s infinite;
    font-family: 'Modak', system-ui;
    color: #FF5025;
    font-size: 3em;
}
.hint-container {
    background-color: #DD9ACF;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.hint-container h2 {
    color: #000000;
    font-size: 30px;
}

.word-container2 {
    background-color: #FF7CA8;
    padding: 5px 10px; 
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px; 
}


.word-container2 p {
    color: #000000;
    font-size: 30px;
    white-space: pre-wrap; 
    letter-spacing: 10px; 
}

#game-board {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center; 
    text-align: justify;
}

#game-board button {
    margin: 5px;
    background-color: #FFA300;
    color: #000000;
    font-size: 15px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#game-board button:hover {
    background-color: #fdf148;
}

#game-board button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#chances-text {
    position: absolute;
    left: 20px; 
    top: 20px; 
    color: #000000; 
    font-size: 35px;
}

.custom-heart {
    color: #de2d2d; 
    font-size: 35px; 
    margin-right: 5px; 
}

.btn-danger {
    position: absolute;
    right: 20px; 
    top: 20px; 
    font-size: 20px;
    width: fit-content;
    cursor: pointer;
    border: none;
}

.btn-danger:hover {
    background-color: #050505;
}

#next-word-button,
#change-category-button {
    margin: 5px;
    background-color:#02BCB7;
    color: #000000;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#next-word-button:hover,
#change-category-button:hover {
    background-color: #52e3e1;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
    .hint-container h2,
    .hint-container span,
    .word-container2 p {
        font-size: 1em;
    }

    .title-container h1 { font-size: 2em; margin-top: 45px;}


    #game-board {
        flex-wrap: wrap; 
        align-content: flex-start;
        gap: 1.5px;
    }

    #game-board button {
        width: auto;
        font-size: 0.8em;
        padding: 8px 10px;
    }

    #next-word-button,
#change-category-button {
    font-size: 0.8em;
    width:45%;
    padding: 5px;
}

.custom-heart  { 
    font-size: 1.4em; 
}

#chances-text {
    font-size: 1.2em;
}

.btn-danger{
    font-size: 0.75em;
}
}
